* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f1f1f;
    color: white;
}

/* NAVBAR */
.navbar {
    height: 50px;
    background: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-links a:hover {
    color: pink;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 120px 8%;
    background-color: #222;
}

#about p {
    text-align: justify;
}

#contact p {
    text-align: justify;
}


.hero-image {
    width: 350px;
    height: 550px;
    border-radius: 15px;
    background-image: url("ankush.png");
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}


.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
}

.section {
    padding: 120px 8%;
    min-height: 100vh;
    background: #1f1f1f;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section p {
    font-size: 18px;
    color: #ccc;
    max-width: 600px;
    text-align: justify;
}

.profile-img {
    width: 250px;
    height: 430px;
    border-radius: 10px;
    margin-top: 20px;
}
