body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-size: cover;
            font-family: Arial, sans-serif;
            position: sticky;
            overflow: hidden;
            background-image: url("https://plus.unsplash.com/premium_photo-1676422355992-703feab0d80d?q=80&w=695&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        }

        .calculator {
            background: #222f3d;
            padding: 20px;
            border-radius: 10px;
            width: 360px;
        }


        .alphabet{
            width: 50px;
            height: 25px;
            font-size: 22px;
            text-align: left;
        
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
        }

        .alphabets{
            font-size: 10px;
            text-align: left;

        }
        #character{
            width: 100%;
            height: 50px;
            font-size: 22px;
            text-align: right;
        
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
        }

        .display {
            width: 100%;
            height: 50px;
            font-size: 22px;
            text-align: right;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 10px;
        }

        button {
            height: 50px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.8;
        }

        .operator {
            background: orange;
            color: white;
        }

        .number {
            background: #555;
            color: white;
        }

        .clear {
            background: red;
            color: white;
            grid-column: span 2;
        }

        .equal {
            background: green;
            color: white;
            grid-column: span 2;
        }